<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hust.hgbk.vtio.vinafood.main"
    android:versionCode="16"
    android:versionName="1.7" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:windowSoftInputMode="stateAlwaysVisible" >
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity
            android:name="hust.hgbk.vtio.vinafood.main.Splash"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ShowAllPlace_Osm"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="ShowPlaceOnOsmap"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="DetailGuideOsm"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="Main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="PreferUser"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="CustomSearch"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="PlaceSearch"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="ActivitySearch"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.VersionChangeLog"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name=".VersionChangeLog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="TravelPlan"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="PlaceSearchResultActivity"
            android:configChanges="orientation" >
        </activity><activity
            android:name="DiscoveryActivity"
            android:configChanges="orientation" >
        </activity>
       
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.DiscoveryShowItemOfType"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="FavoritePlaceActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="ShowPlaceOnMapsActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="PlaceDetails"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="SemanticBrowser"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="Annotator"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="InstanceDetails"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="QuickSearchResult"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="GeoSearch"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="ShowAllPlaceOnMap"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="Recommendation"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="MenuActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="SubAppAccommodationSearch"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="QuickResultActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.QuickPlaceFlipper"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.NewMainLayout"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.NewDinningServiceSearch"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.NewInstanceDetails"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.RecentViewActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.ChooseOnMap"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.VehicleServiceSearch"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.EntertainmentService"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.IcompanionDemoFacebookActivity"
            android:configChanges="orientation"
            android:label="Facebook"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="hust.se.vtio.annotator.AnnotatorPlace"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.se.vtio.annotator.AddNewPlaceActivity"
            android:configChanges="orientation" >
        </activity>

        <meta-data
            android:name="vn.vimarket.dev.key"
            android:value="de13079a3da43d87d7646ee12421b5ac" >
        </meta-data>

        <activity
            android:name="hust.hgbk.vtio.vinafood.main.MainMenuActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.MainViewPagerActivity"
            android:configChanges="orientation" >
        </activity>

        <!-- Dinning application -->
        <activity
            android:name="hust.hgbk.vtio.vinafood.main.PreferenceSetting"
            android:configChanges="orientation" >
        </activity>
    </application>

    <supports-screens android:anyDensity="true" />
    <supports-screens android:smallScreens="true" />
    <supports-screens android:normalScreens="true" />
    <supports-screens android:largeScreens="true" />

</manifest>